:root {
  --color1: #223344;
  --color2: #3f4e5d;
  --color2-hover: #4d7399;
  --color3: #152b3f;
  --color4: #fff;
  --color-card-back1: #000000;
  --color-card-back2: #693001e3;
  --color-card-back3: #eec670;
  font-size: 20px;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--color1);
  color: var(--color4);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.4rem;
}
.container {
  padding: 0.5rem 2rem;
}
h1 {
  font-size: 2.4rem;
  font-weight: bold;
  padding: 1.5rem 0;
  text-align: center;
}
label {
  display: inline-block;
  padding: 0.5rem 0;
}

form {
  div {
    padding: 0.4em 1.5rem 0.8rem 0.7rem;
  }
}
input,
select,
button {
  font-size: 1.5rem;
  height: 2.2rem;
  padding: 0.4rem;
  box-sizing: content-box;
  width: 100%;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 12px 5px #0f171f80;
  transition: all 0.2s ease;
}
button {
  background-color: var(--color2);
  color: var(--color4);
  font-size: 1.7rem;
  padding: 0.6rem;
  border: none;
  margin-top: 1rem;
}
button:hover:not(:disabled) {
  background-color: var(--color2-hover);
}
button:disabled {
  opacity: 40%;
  color: rgb(192, 192, 192);
}
p {
  padding: 0.5rem;
}
strong {
  font-weight: bold;
}
